{ font-family: Verdana; font-size: 1em; }
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
img { image-rendering: -moz-crisp-edges; -ms-interpolation-mode:bicubic; }
.fbshare {
cursor:pointer;
}
#mapbrowse { width: 100%; }
#browse { height: 600px; }
#greeting {
display: block;
position: absolute;
right: 20px;
top: 10px;
     text-shadow: 0 0 0, 0 1px 1px rgba(0, 0, 0, 0.5);
     z-index: 100;
float: right;
}
#icon_browse {
background:url(../icons/op_browse.png) no-repeat 0 0px; display:block; float:left; width:32px; height:32px; cursor:pointer;
}
#icon_delete {
background:url(../icons/op_delete.png) no-repeat 0 0px; display:block; float:left; width:32px; height:32px; cursor:pointer;
}
#icon_view {
background:url(../icons/op_view.png) no-repeat 0 0px; display:block; float:left; width:32px; height:32px; cursor:pointer;
}
#icon_recycle {
background:url(../icons/op_recycle.png) no-repeat 0 0px; display:block; float:left; width:32px; height:32px; cursor:pointer;
}
#icon_save {
background:url(../icons/op_save.png) no-repeat 0 0px; display:block; float:left; width:32px; height:32px; cursor:pointer;
}
#icon_save_link:hover {
background:url(../icons/op_save.png) no-repeat 100px 0px; display:block; width:32px; height:32px; cursor:pointer;
width: 80%;
}

#icon_recreate {
background:url(../icons/op_recreate.png) no-repeat 0 0px; display:block; float:left; width:32px; height:32px; cursor:pointer;
}
#icon_mapshow {
background:url(../icons/op_mapshow.png) no-repeat 0 0px; display:block; float:left; width:32px; height:32px; cursor:pointer;
}
.step { background-color: yellow; border:2px solid; border-radius:30px; padding-right:5px; padding-left:5px;}
.hp { cursor: pointer; }

#create { font-size: 30px; padding: 10px; width: 390px; }
#create2 { font-size: 30px; padding: 10px; width: 390px; }
#create3  { font-size: 30px; padding: 10px; width: 390px; }
/* jquery UI tabs */
tabs-nohdr {
padding: 0px;
background: none;
	    border-width: 0px;
}
tabs-nohdr .ui-tabs-nav {
	padding-left: 0px;
background: transparent;
	    border-width: 0px 0px 1px 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
	    border-radius: 0px;
}
tabs-nohdr .ui-tabs-panel {
background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top;
		    border-width: 0px 1px 1px 1px;
}
.normal_note {
    display: block;
    width: 700px;
    border-radius: 10px;
    border: 2px solid #8AC007;
    padding: 10px;
    height: 130px;
}
/* drawer.css */
.drawer {
	bottom: 0px;
	height: 140px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 5; /* make this what you need to */
}

.drawer > header {
	background: #CCC9C8; /* add image if you want */
	color: #ffffff;
	display: block;
	height: 10px;
	line-height: 12px;
	margin: auto;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	width: 150px;
	
	/* Radius round corners - change radius or delete if need be */
	-moz-border-radius-topleft: 25px 25px;
	-moz-border-radius-topright: 25px 25px;
	border-top-left-radius: 25px 25px;
	border-top-right-radius: 25px 25px;
}

.drawer-content {
	/* background: url(../images/bg.png); */
	border-collapse: collapse;
	border-top: 5px solid #CCC9C8;
	height: 110px;
	width: 100%;
}

.clickme {
  cursor: pointer;
}

.drawer-items {
	margin: auto;
	width: 100%;
}

.drawer-items ul {
  margin: 0px;
}

.drawer-items li {
  float: left;
  list-style: none;
  margin-left: 0px;
  width: 80px;
}

.drawer-items li a {
  color: #fff;
  display: block;
  height: 86px;
  padding: 10px;
  text-decoration: none;
  /* width: 176px; */
}

.drawer-items li a:hover {
  background: #CCC9C8; /* change link hover color */
}

.drawer-items .title {
	color: #c4c4c4;
	font-size: 20px;
	line-height: 1.1;
}
