<?php
// site url: 還沒用到
$site_url = "http://map.happyman.idv.tw";

// 地圖瀏覽器的 url prefix
$site_html_root = "/~happyman/twmap3/";
// 地圖產生器 url prefix
$site_twmap_html_root = "/twmap/";
// 

$CONFIG['site_twmap_html_root'] = "/twmap/";
$CONFIG['getkmlfrombounds_url'] = $site_twmap_html_root ."api/getkmlfrombounds.php";
$CONFIG['geocodercache_url'] = $site_twmap_html_root ."api/geocoder.php";
$CONFIG['getkml_url'] = $site_twmap_html_root ."api/getkml.php";
$CONFIG['get_waypoints_url'] = $site_twmap_html_root ."api/waypoints.php";
$CONFIG['geocodercache_url'] = $site_twmap_html_root ."api/geocoder.php";
$CONFIG['get_elev_url'] = $site_twmap_html_root ."api/getelev.php";
//$CONFIG['pointdata_url'] = $site_html_root . "data/ajaxCRUD/pointdata2.php";
$CONFIG['pointdata_url'] = $site_twmap_html_root . "api/pointdata.php";
$CONFIG['viewshed_url'] = $site_twmap_html_root . "api/get_line_of_sight.php";
$CONFIG['pointdata_admin_url'] = $site_twmap_html_root . "admin/index.php";
$CONFIG['exportkml_url'] = $site_twmap_html_root . "api/exportkml.php";

// 資料庫連線參數
$CONFIG['db'] = array('host'=> 'localhost', 'db' => 'twmap', 'user'=> 'user', 'pass' => 'password');
// admin user 的 uid 為 登入地圖產生器的帳號
$CONFIG['admin'] = array("");
$CONFIG['gmap_api_key'] = '';
