<?php
// ini_set("session.gc_maxlifetime", 86400);
// set this in php ini
// config.inc.php.sample

define('__ROOT__', dirname(__FILE__). "/");
require_once(__ROOT__."vendor/autoload.php");
require_once(__ROOT__. "lib/rangelib.php");
require_once(__ROOT__."lib/geoPHP/geoPHP.inc");
require_once(__ROOT__."lib/Twmap/Proj.php");
require_once(__ROOT__."lib/Twmap/Svg/Gpx2Svg.php");
require_once(__ROOT__."lib/phpwee-php-minifier/phpwee.php");

$protocol = (isset($_SERVER["HTTPS"]) && $_SERVER["HTTPS"] == "on") ? "https://" : "http://";
$out_root = "/srv/www/htdocs/map/out";
// tmpdir for backend_make
$out_root_tmp = "/home/happyman/twmapcache/tmp/out";
$out_html_root = "/out";
$site_url = $protocol . "map.happyman.idv.tw";
$site_html_root = "/gen";
// 30 for SuSE, 33 for Ububtu
define('WWWRUN_UID', 1001);

$tmppath = "/home/happyman/twmapcache/tmp"; 
$diskfullchk = "/home/happyman/map/";
$twmap_gen_version = trim(file_get_contents(__ROOT__."VERSION"));
$TWMAP3_html_root = "/map";
$TWMAP3URL = "/map/index.php";
$ERROROUT = "ajax";

/* DB 設定寫在這裡 */
$db_host = '';
$db_user = "";
$db_pass = "";
$db_name = "";
$db_port = '5432';
$db_dsn = sprintf("postgres9://%s:%s@%s:%s/%s",$db_user,$db_pass,$db_host,$db_port,$db_name);
$gdal_dsn = sprintf("PG:dbname='%s' user='%s' password='%s' host='%s' port='%s'",$db_name,$db_user,$db_pass,$db_host,$db_port);

require_once(__ROOT__."lib/twmapdb.inc.php");

if (php_sapi_name() != "cli") {
	/* template */
	$smarty = new Smarty();
	// composer autoload require_once(__ROOT__."lib/smarty/Smarty.class.php");
	require_once(__ROOT__."lib/smarty-out-jsmin.inc.php");
	$smarty->error_reporting = E_ALL & ~E_NOTICE;
	$smarty->setTemplateDir(__ROOT__.'pages');
	$smarty->setCompileDir($tmppath .'/smarty/tcache');
	$smarty->setCacheDir($tmppath.'/smarty/cache');
	$smarty->setConfigDir($tmppath.'/smarty/configs');

	$smarty->assign("twmap_gen_version", $twmap_gen_version);
	$smarty->assign("browser_url", $TWMAP3URL );
	$smarty->assign('twmap3_html_root',$TWMAP3_html_root);
}

#
# Keppon API : queue // to remove
define('GEARMAN_SERVER','127.0.0.1');
$CONFIG['use_gearman'] = false;

# check backend_make 
# 產生地圖 queue
$CONFIG['use_queue'] = true
$CONFIG['beanstalk_server'] = 'localhost';
$CONFIG['beanstalk_port'] = '11300';
$CONFIG['beanstalk_tube'] = 'make_map';

$CONFIG['admin'] = array( 3 );
define('twDEM_path', __ROOT__ ."db/DEM/dem_20m-latlong.tif");
$CONFIG['poi_file'] = "/home/happyman/poi/MOI_OSM_Taiwan_TOPO_Rudy.poi";

//多台前端要吃同一台
$CONFIG['memcache_server'] = '127.0.0.1';
$CONFIG['memcache_port'] = 11211;
// redis server
$CONFIG['redis_server'] = '127.0.0.1';
$CONFIG['redis_port'] = 6379;
$CONFIG['redis_password'] = 'myredispassword';