<?php
//ini_set("session.gc_maxlifetime", 86400);
// set this in php ini
// $Id$
define('__ROOT__', dirname(__FILE__). "/");
require_once(__ROOT__."vendor/autoload.php");
require_once(__ROOT__. "lib/rangelib.php");
require_once(__ROOT__."lib/STB.inc.php");
require_once(__ROOT__."lib/svglib.php");
require_once(__ROOT__."lib/phpwee-php-minifier/phpwee.php");

$protocol = (isset($_SERVER["HTTPS"]) && $_SERVER["HTTPS"] == "on") ? "https://" : "http://";
$out_root = "/srv/www/htdocs/map/out";
// tmpdir for backend_make
$out_root_tmp = "/home/happyman/twmapcache/tmp/out";
$out_html_root = "/out";
$site_url = $protocol . "map.happyman.idv.tw";
$site_html_root = "/gen";
// 30 for SuSE, 33 for Ububtu
define('WWWRUN_UID', 1001);

// 放一版的圖資目錄
$stbpath = 'http://make.happyman.idv.tw/~happyman/stb';
// 放從 TMS 的圖磚
// 放3版 1x1 的圖檔
$tilecachepath = "/home/happyman/twmapcache/cache";

// 不重要
//if (!file_exists($tilepath."/16")) {
//	die("image dir not ready");
//}
$tmppath = "/home/happyman/twmapcache/tmp"; 
$diskfullchk = "/home/happyman/map/";
$twmap_gen_version = trim(file_get_contents(__ROOT__."VERSION"));
$TWMAP3_html_root = "/map";
$TWMAP3URL = "/map/index.php";
$BETA = 0; // beta for debug output
$ERROROUT = "ajax";

$stitch['A4']['right'] = realpath(__ROOT__."imgs/5x7-paste-r.png");
$stitch['A4']['buttom'] = realpath(__ROOT__."imgs/5x7-paste-b.png");
$stitch['A4R']['right'] = realpath(__ROOT__."imgs/5x7-paste-r.png");
$stitch['A4R']['buttom'] = realpath(__ROOT__."imgs/5x7-paste-b.png");
$stitch['A3']['right'] = realpath(__ROOT__."imgs/5x7-paste-r.png");
$stitch['A3']['buttom'] = realpath(__ROOT__."imgs/5x7-paste-b.png");
$stitch['A3R']['right'] = realpath(__ROOT__."imgs/5x7-paste-r.png");
$stitch['A3R']['buttom'] = realpath(__ROOT__."imgs/5x7-paste-b.png");
$tiles['A4'] = array('x'=>5, 'y'=>7);
$tiles['A4R'] = array('x'=>7, 'y'=>5);
$pixels['A4'] = array("x"=>1492, "y"=>2110);
$pixels['A4R'] = array("x"=>2110, "y"=>1492);
$tiles['A3'] = array('x'=>7, 'y'=>10);
$tiles['A3R'] = array('x'=>10, 'y'=>7);
$pixels['A3'] = array("x"=>2110, "y"=>2984);
$pixels['A3R'] = array("x"=>2984, "y"=>2110);

$fuzzy = 20;

/* DB 設定寫在這裡 */
$db_host = '';
$db_user = "";
$db_pass = "";
$db_name = "";
$db_port = '5432';
$db_dsn = sprintf("postgres9://%s:%s@%s:%s/%s",$db_user,$db_pass,$db_host,$db_port,$db_name);
$gdal_dsn = sprintf("PG:dbname='%s' user='%s' password='%s' host='%s' port='%s'",$db_name,$db_user,$db_pass,$db_host,$db_port);


require_once(__ROOT__."lib/twmapdb.inc.php");
/* login */
if (php_sapi_name() != "cli") {
	require_once(__ROOT__."lib/xuite.php");
	$fb_appid = '';
	/* template */
	$smarty = new Smarty();
	// composer autoload require_once(__ROOT__."lib/smarty/Smarty.class.php");
	require_once(__ROOT__."lib/smarty-out-jsmin.inc.php");
	$smarty->error_reporting = E_ALL & ~E_NOTICE;
	$smarty->setTemplateDir(__ROOT__.'pages');
	$smarty->setCompileDir($tmppath .'/smarty/tcache');
	$smarty->setCacheDir($tmppath.'/smarty/cache');
	$smarty->setConfigDir($tmppath.'/smarty/configs');

	$smarty->assign("twmap_gen_version", $twmap_gen_version);
	$smarty->assign("browser_url", $TWMAP3URL );
	$smarty->assign("fb_appid", $fb_appid );
	$smarty->assign('twmap3_html_root',$TWMAP3_html_root);

}

#

# Keppon API : queue
define('GEARMAN_SERVER','127.0.0.1');


define('APE_HOST','0.ape.tile.happyman.idv.tw');
$CONFIG['admin'] = array( 3 );
//  gdalwarp -t_srs EPSG:4326 dem_20m.tif dem_20m-latlong.tif
//  source: http://data.gov.tw/node/35430
define('twDEM_path', __ROOT__ ."db/DEM/dem_20m-latlong.tif");
$CONFIG['poi_file'] = "/home/happyman/poi/MOI_OSM_Taiwan_TOPO_Rudy.poi";

