<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="twmap_gen">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>lib/twmapdb.inc.php</file>
        </include>
    </source>
</phpunit>
