html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html,table { font-size: 15px; }
}
@media (max-width: 400px) {
  html,table { font-size: 13px; }
}

#locContainer {
	position:absolute; margin-top:10px
	display: none;
}
#loc {
	display: none;
	padding: 0px;
	margin:0px;
	position:absolute;
	top:0px;
	left:22px;
	overflow:hidden;
	background-color:white;
	width:240px;
	height:36px;
	color:#000000;
	font-size:0.9em
}
#opContainer {
	position:relative; 
	margin-top:10px; 
	margin-left:-200px
	right: -500px;
}
#less {
	padding:0px; 
	margin:0px;
	position:absolute;
	top:0px;left:0px;
	width:20px;
	height:20px;
	background-color: white;
	cursor:pointer;
	text-align:center;
}
#opSlider {
	padding: 0px; 
	margin:0px;
	position:absolute;
	top:0px;left:22px;
	overflow:hidden;
	background-color:gray;
	width:160px;
	height:20px;
	color:#AAAAAA;
	font-size:0.9em;
}
#op {
	padding: 0px; 
	margin:0px;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	background-color:white;
	width:12px;
	height:20px;
	cursor:pointer;
}
#more {
	padding: 0px;
	margin:0px;
	position:absolute;
	top:0px;left:184px;
	overflow:hidden;
	background-color:white;
	width:20px;
	height:20px;
	cursor:pointer;
	text-align:center;
}
body { margin: 0px 0px 0px 0px;
min-width: 320px;
min-height: 480px;
}
#map_canvas {
	position:absolute; 
	left:0px;
	top:33px;
	width:100%; 
	height:80%;
	padding: 0px;
	margin:0px;
}
.title {
	position:absolute;
	top:5px;
	left:5px;
	/*width: 640px;*/
}
#about {
	cursor:pointer;
	padding: 5px;
	font-weight:bold;
	font-size:15px;
}
#about:hover {
	font-size:18px;
}
button:hover { margin: -3px; }
select:hover { margin: -3px; }
input:active, 
input:focus, 
input:hover, 
textarea:active, 
textarea:focus, 
textarea:hover { 
	  background-color: lightyellow; 
		  border-color: yellow; 
		} 

#tags {
	width: 100px;
}
#hint {
	width: 200px;
}
#goto {
	cursor: pointer;
}
#label_sw {
	cursor: pointer;
}
#marker_sw_select {
	cursor: pointer;
}
#params {
	position:absolute;top:6px;right:40px; width:380px; font-size: 12px;
}
#generate {
	position:absolute;top:5px;right:10px;
	cursor: pointer;
}
#setup {
	position:absolute;right:10px;
	cursor: pointer;

}
#marker_reload {
	cursor: pointer;
}
#changemap {
	width: 80px;
	font-weight: bold;
	position: absolute;
	left: 100px;
	cursor: pointer;
}
#changegname {
	position: absolute; left:290px;
	top:0px;
	font-size:11px;
	cursor: pointer;
}
#changegrid {
	position:absolute;top:5px;right:60px;
	font-size:11px;
	cursor: pointer;
}
#footer {
	display:none;
}
body {
	border:1px;
	solid gray;
	padding:8px;
	/*background:#e1efbb;
	font-weight: bold;  */
font-size: 16px;
color: #000000;
}
#meerkat #meerkat-content {
position:absolute; 
height: 100%;

}
.close-meerkat {
	background: url("../img/close-x.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: block;
	height: 18px;
	text-indent: -9000px;
	width: 18px;
	z-index: 10;
	position: absolute;
	top: 10px;
}
.close-meerkat2{
	background: url("../img/close-x.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	position: absolute;
	right: 10px;
	display: block;
	height: 18px;
	text-indent: -9000px;
	width: 18px;
	z-index: 10;
}
#meerkat {
			color: #FFF;
			height: 100%;
			display: none;
}
.disable{
	background-color: #fff;
	/*color: #fff;*/
	background-image: none;

}
.wait {
	background-image: url("../img/loading20x20.gif");
	background-repeat: no-repeat;
}
#moveBtn {
	cursor:pointer;
}
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
  font-family:Arial, Helvetica, sans-serif;
}
.infowin 
{
	font-size: 20px;
	padding: 5px;
}

.infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}
@media (max-width: 900px) {
  .infowin { font-size: 15px;	padding: 3px; }

}
@media (max-width: 400px) {
  .infowin { font-size: 13px;	padding: 1px; }
}
#inputtitleform > input {
	font-size: 3em;
}

/* control geoxml3 inforwindo */

.geoxml3_infowindow {
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
	 border:2px solid black;
	     margin-top: 8px; 
			     background:#333;
					     color:#FFF;

}

  .custom-iw .gm-style-iw {
      top:15px !important;
      left:0 !important;
      border-radius:2px;
  }
  .custom-iw>div:first-child>div:nth-child(2) {
      display:none;
  }
  /** the shadow **/
  .custom-iw>div:first-child>div:last-child {
      left:0 !important;
      top:0px;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
      z-index:-1 !important;
  }

  .custom-iw .gm-style-iw, 
  .custom-iw .gm-style-iw>div, 
  .custom-iw .gm-style-iw>div>div {
      width:100% !important;
      max-width:100% !important;
  }
  /** set here the width **/
  .custom-iw, 
  .custom-iw>div:first-child>div:last-child {
      width:342px !important;
  }


  /** set here the desired background-color **/
  #div-main-infoWindow, 
  .custom-iw>div:first-child>div:nth-child(n-1)>div>div, 
  .custom-iw>div>div:last-child, 
  .custom-iw .gm-style-iw, 
  .custom-iw .gm-style-iw>div, 
  .custom-iw .gm-style-iw>div>div {
      background-color:orange !important;
  }
